mixin template(id, title, direction, number, description)
  li.home__item(class=`home__item--${id}`)
    a.home__link(href=`/case/${id}`)
      img.home__link__media(
        alt=`${title} Project Preview`,
        data-direction=direction,
        data-src=`/projects/${id}.jpg`,
        data-src-webp=`/projects/${id}.webp`
      )
      span.home__link__wrapper
        span.home__link__number= number
        span.home__link__title= title
        span.home__link__description= description


section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    ul.home__list

      +template('ffmag', '54 Magazine', 'left', '01', 'African culture & lifestyle publication')
      +template('sazy', 'Sazy', 'right', '02', 'Modern furniture and homeware branding')
      +template('popeyes', 'Popeyes', 'left', '03', 'Bold UK launch visuals for fried chicken chain')
      +template('spotify', 'Spotify', 'right', '04', 'Brand identity + UI for Wrapped campaign')
      +template('boxpark', 'Boxpark', 'left', '05', 'Retail & food park brand refresh')
      +template('turning-tide', 'Turning Tide', 'right', '06', 'Sustainable living awareness campaign')
      +template('idris-elba', 'Idris Elba', 'right', '07', 'Visual direction for Porte Noire wine label')
      +template('stoli', 'Stoli Vodka', 'left', '08', 'Heritage vodka brand with modern twist')
      +template('ocb', 'Old Compton', 'right', '09', 'Visual identity for London restaurant')
      +template('jack-daniels', 'Jack Daniels', 'left', '10', 'Experimental visuals for heritage brand')
      +template('inbound', 'INBOUND', 'right', '11', 'Event branding + digital materials')
      
     
  div.fullscreen-div